#firstRoom{
    float:left;
    margin-right: 17px;
    border-radius: 15px;
    text-shadow: 3px 3px 6px grey;
    overflow: auto;
   }
   
#SecondRoom{
    float:left;
    margin-right: 17px;
    border-radius: 15px;
    text-shadow: 3px 3px 6px grey;
    overflow: auto;
   }
   
#ThirdRoom{
    float:left;
    margin-right: 17px;
    border-radius: 15px;
    text-shadow: 3px 3px 6px grey;
     overflow: auto;
   }
#FourthRoom{
    float:left;
    margin-right: 17px;
    border-radius: 15px;
    text-shadow: 3px 3px 6px grey;
     overflow: auto;
   }
#FifthRoom{
    float:left;
    margin-right: 17px;
    border-radius: 15px;
    text-shadow: 3px 3px 6px grey;
    position: static;
     overflow: auto;
   }
#SixthRoom{
    float:left;
    border-radius: 15px;
    text-shadow: 3px 3px 6px grey;
    overflow: auto;
   }
   





button {
  border: none;
  padding: 7px;
  border-radius: 4px;
}

button:hover {
  border: none;
  padding: 7px;
  border-radius: 4px;
  background-color: #cecece;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

